/*For more reference look at CSS selectors 
https://www.w3schools.com/cssref/css_selectors.php*/
html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #E86A33 50%, #F7E1AE 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #473C33;
  padding: 1px;
}

h2 {
  color: #263A29;
  padding: 1px;
}

.box {
  max-width: 600px;
  margin:  auto;
  background: #A4D0A4;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.boxBottom{
  max-width: 600px;
  margin: 50px auto;
  background: none;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;

}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

/* Here form represents all the form but form.item represents 
only those forms who have a class called item.*/
form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 40px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
